version: '3'
services:
  homeassistant:
    image: homeassistant/home-assistant:stable
    volumes:
      - ./config:/config
      - ./custom_components:/config/custom_components
    ports:
      - "8123:8123"
    restart: always
